@page "/business-pest-control-services"
@model PayLessPest.businessModel
@{
    ViewData["Title"] = "Business Pest Control";
}

<div class="jumbotron2">
    <div class="overlay"></div>
    <div class="inner">
        <h1 class="display-3 text-center" style="padding-right: 0px;">Business Pest Control Services</h1>
        <p class="lead text-center">From Storage Facilities, Warehoues, to offices we cover all of your buisness needs.</p>
        <p class="text-center"><a class="btn btn-lg btn-success mb-3" href="#contactForm" role="button">Request a Quote</a></p>
    </div>
</div>
<div class="container">
    <h2>Common Treated Bugs</h2><br />
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Box Elder Bugs</h4>
            <p>
                <img src="/img/bugs/boxElder/box-elder-bugs.jpg" height="128" width="128" style="" alt="Box Elder Bug Pest Control Utah">
                <div>
                    <a class="nav-link" href="/bugs?bug=Box%20Elder%20Bugs" style="background-color: rgb(236, 29, 59); margin-right: 5px; color: rgb(255, 255, 255);">Box Elder Bugs</a>
                    While they are almost harmless, they can quickly be a burden and grow fast!<br />
                    <a href="/bugs?bug=Box%20Elder%20Bugs">
            <p class="btn btn-success">Learn more</p></a>
        </div>
        </p>

        <h4>Mouse</h4>
        <p>
            <img src="~/img/bugs/rodents/mouse.jpg" height="128" width="128" style="" alt="Mouse pest control Utah">
            <div>
                <a class="nav-link" href="/bugs?bug=Rodent" style="background-color: rgb(236, 29, 59); margin-right: 5px; color: rgb(255, 255, 255);">Bed Bugs</a>
                They may seem harmless they can quickly damage furniture, and other household items.<br />
                <a href="/bugs?bug=Rodent">
        <p class="btn btn-success">Learn more</p></a>
    </div>
    </p>

</div>
<hr />
<div class="col-lg-6">
    <h4>Spiders</h4>
    <p>
        <img src="~/img/bugs/spiders.jpg" height="128" width="128" style="float: none;" alt="Spider Pest Control">
        <div>
            <a class="nav-link" href="/bugs?bug=Spiders" style="background-color: rgb(236, 29, 59); margin-right: 5px; color: rgb(255, 255, 255);">Spiders</a>
            One of the well known bugs for pest control in Utah. We have over 600+ different species, and we treat almost all of them!<br />
            <a href="/bugs?bug=Spiders">
    <p class="btn btn-success">Learn more</p></a>
</div>
            </p>
<h4>Termites</h4>
<p>
    <img src="~/img/bugs/terminite/terminite.jpg" alt="Terminite Pest Control" height="128" width="128" style="">
    <div>
        <a class="nav-link" href="/bugs?bug=Terminite" style="background-color: rgb(236, 29, 59); margin-right: 5px; color: rgb(255, 255, 255);" target="_blank">Info2</a>
        You may have termites and not even know it. They can cause termedous damage.<br />
        <a href="/bugs?bug=Terminite">
<p class="btn btn-success">Learn more</p></a>
                            </div>
                        </p>
                    </div>
                </div>

<a href="/bugs"><h3 class="btn btn-outline-dark text-center">See other common bugs</h3></a>

<div class="row pb-3 pt-3">
    <div class="col-10 mx-auto">
        <h3>Frequently Asked Questions</h3>
        <div class="accordion" id="faqExample">
            <div class="card">
                <div class="card-header p-2" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Q: Do you have any coupons or promotions?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                    <div class="card-body">
                        <b>Answer:</b> It depends on the time of the year but we always try to provide best pricing and services. We do occasionally offer promotions and coupons. <br><br>
                        <a class="btn btn-success" href="/coupon-and-promos" role="button">Current Promotions and Coupons</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-2" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Q: How far out are you guys?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                    <div class="card-body">
                        Depends on the time of the year, but typically we try to fit you into our schedule as soon as possible. Feel free to email us below, chat with us, or call us to see our soonest apopintment.
                        <br />
                        <a href="tel:801-809-7533" class="btn btn-info">Call us</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-2" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Q: Do you offer multi location discounts?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                    <div class="card-body">
                        This is dependent on location and the size of the job, but typically yes we do. Give us a call or email us so we can give you an accurate quote.
                        <br />
                        <a href="tel:801-809-7533" class="btn btn-info">Call us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="jumbotron2 jumbotron2-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1 text-dark">
                        Contact us <small>Dont know what you need? Email us</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name *
                                </label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address *
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Phone Number
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Subject*
                                </label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="Residential Service">Residential Services</option>
                                    <option value="Business Service">Buisness Service</option>
                                    <option value="Domestic Service">Domestic Service</option>
                                    <option value="Other Services">Other Services</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Perferred Contact *
                                </label>
                                <select id="contactType" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="Email">Email</option>
                                    <option value="Call">Phone Call</option>
                                    <option value="Text">Text Message *(see side)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Tell us about your pest problem *
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="14" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <address>
                    <strong>PayLess Pest Control</strong><br>
                    Servicing Utah Area<br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    801-809-7533
                </address>
                <address>
                    <strong>Our Emails</strong><br>
                    <a href="mailto:services@paylesspest.com">services@paylesspest.com</a>
                </address>

                <address>
                    <strong>Text Message</strong>
                    <p>Msg & data rates may apply - We do not cover this expense</p>
                </address>
            </form>
        </div>
    </div>
</div>
<style>
    .jumbotron2 {
        background-image: url("/img/banner/business.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFF;
        border-radius: 0px;
        padding-top: 30px;
    }

    .jumbotron-sm2 {
        padding-top: 24px;
    }

    .jumbotron2 small {
        color: #FFF;
    }

    .jumbotron3 {
        background: #616161;
        color: #FFF;
        border-radius: 0px;
        padding-top: 30px;
    }

    .jumbotron-sm3 {
        padding-top: 24px;
    }

    .jumbotron3 small {
        color: #FFF;
    }
</style>