@page "/services"
@model PayLessPest.IndexModel
@{
    ViewData["Title"] = "Our Services";
}

<style>
    .jumbotron2 {
        background: #606060;
        color: #FFF;
        border-radius: 0px;
    }

    .jumbotron2-sm {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .jumbotron2 small {
        color: #FFF;
    }

    .h1 small {
        font-size: 24px;
    }

    .jumbotron {
        background-image: url("./img/cover.jpg");
        background-size: cover;
        background-color: rgba(255, 0, 0, 0.25);
        color: #fff;
    }

    .box {
        border: 1px solid #ccc;
        padding: 20px;
    }


    .mb-60 {
        margin-bottom: 60px;
    }

    .services-inner {
        border: 2px solid #48c7ec;
        margin-left: 35px;
        transition: .3s;
    }

    .our-services-img {
        float: left;
        margin-left: -36px;
        margin-right: 22px;
        margin-top: 28px;
    }

    .our-services-text {
        padding-right: 10px;
    }

    .our-services-text {
        overflow: hidden;
        padding: 28px 0 25px;
    }

        .our-services-text h4 {
            color: #222222;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 8px;
            padding-bottom: 10px;
            position: relative;
            text-transform: uppercase;
        }

            .our-services-text h4::before {
                background: #ec6d48 none repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 1px;
                position: absolute;
                width: 35px;
            }

    .our-services-wrapper:hover .services-inner {
        background: #fff none repeat scroll 0 0;
        border: 2px solid transparent;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .our-services-text p {
        margin-bottom: 0;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #666;
        margin-bottom: 15px;
    }

    .services_panel .panel {
        min-height: 377px;
        border: 1px solid #c22115;
        border-top: 3px solid #c22115 !important;
        background: #fbfbfb;
        margin-top: 10%;
    }

        .services_panel .panel img {
            width: 115px;
        }

        .services_panel .panel .btn {
            width: 235px;
            margin-top: 25px;
            color: #333;
            border-bottom: 3px solid #e6e6e6;
        }

            .services_panel .panel .btn:hover {
                border-bottom: 2px solid #e6e6e6;
            }
</style>
<div class="jumbotron text-center">
    <h1 class="text-white">Our Services</h1>
    <p class="text-white">We specialize in different services. Select your service below.</p>
</div>
<div class="container services_panel">

    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <div class="panel text-center">
                    <h3>Residential</h3>
                    <p>Residental, we typically recommend our montly service plan, but if you need one time treatment for bed bugs, box elder bugs, spiders, terminites, rodents, or any other bug we also offer that!</p>
                    <i class="fa fa-home fa-5x" aria-hidden="true"></i><br />
                    <a href="/residental-pest-control-services"><button class="btn btn-success center-block text-white">Schedule Service/Quote</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel text-center">
                    <h3>Business</h3>
                    <p>Nothing is worse then having customer see your pest problem, the best steps are preventable measures. We specialize in storage facilities, apartment complex, and buisness facility pest control.</p>
                    <i class="fa fa-building-o fa-5x" aria-hidden="true"></i><br />
                    <a href="/business-pest-control-services"><button class="btn btn-primary center-block text-white">Schedule Service/Quote</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel text-center">
                    <h3>Domestic</h3>
                    <p>Protecting and helping the animals are curical to a healthly livestock. We capture racoons, skunks, and maintain rat control to keep them to a minimal.</p>
                    <i class="fa fa-home fa-5x " aria-hidden="true"></i><br />
                    <br />
                    <a href=""><button class="btn btn-danger center-block text-white">Schedule Service/Quote</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel text-center">
                    <h3>All Season</h3>
                    <p>Our All Season services will put you on a weekly, bi-weekly, or montly service to prevent or treat pest control problems. Opt in whenever, and cancel whenever.</p>
                    <i class="fa fa-calendar-plus-o fa-5x" aria-hidden="true"></i><br />
                    <a href=""><button class="btn btn-warning center-block">Schedule Service/Quote</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="jumbotron2 jumbotron2-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Contact us <small>Dont know what you need? Email us</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name *
                                </label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address *
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Phone Number
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Subject*
                                </label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="Residential Service">Residential Services</option>
                                    <option value="Business Service">Buisness Service</option>
                                    <option value="Domestic Service">Domestic Service</option>
                                    <option value="Other Services">Other Services</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Perferred Contact *
                                </label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="Residential Service">Email</option>
                                    <option value="Business Service">Phone Call</option>
                                    <option value="Domestic Service">Text Message *(see side)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Tell us about your pest problem *
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="14" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <address>
                    <strong>PayLess Pest Control</strong><br>
                    Servicing Utah Area<br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    801-809-7533
                </address>
                <address>
                    <strong>Our Emails</strong><br>
                    <a href="mailto:services@paylesspest.com">services@paylesspest.com</a>
                </address>

                <address>
                    <strong>Text Message</strong>
                    <p>Msg & data rates may apply - We do not cover this expense</p>
                </address>
            </form>
        </div>
    </div>
</div>
