@page "/coupons-and-promos"
@model PayLessPest.CouponsModel
@{
    ViewData["Title"] = "Coupons and Promotions";
    ViewData["Meta"] = "We pride ourselves in having some of the most competitive pricing, but on occasion we still do offer promotions and coupons! Come check it out and see if we have any promotions, if not reach out to us and we can schedule a competitive free quote.";
}
<style>
    .mb.card-body{
    text-align: center;
}
.mb.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.mb.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
.mb.card{
    border-radius: 0px / 0px;
    overflow: hidden;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
</style>
<div class="jumbotron">
    <h1 class="display-3 text-center" style="padding-right: 0px;">Coupon and Promotions</h1>
    <p class="lead text-center">Whenever you call, email, or text us just mention and of these and we will help you out.</p>
</div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    @foreach (var promotion in Model.Promotions)
                    {
                        <div class="col-md-4">
                            <div class="card mb">
                                <img class="card-img-top" src="@promotion.Image" alt="@promotion.Title">
                                <div class="card-body mb">
                                    <h5 class="card-title">@promotion.Title</h5>
                                    <p class="card-text">@promotion.details</p>
                                    <button type="button" class="btn btn-primary mb" href="/contact-us">Contact us</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>