@page "/bugs"
@model PayLessPest.indexModel
@{
    ViewData["Title"] = "index";
}

@if (Model.currentBug != null)
{
    <div class="container">
        <h1>@Model.currentBug.Name Pest Control</h1>

    </div>
}
else
{
    <div class="container">
        <h1>Common Bugs in Utah</h1>
    </div>
}